target/
/bin/
/.settings/
.classpath
.project
.run/
.idea/
.gradle/
/conveyor-service/target/
/conveyor-service/upload
/parallel/
/persistence/
/persistence/jdbc/
/service/
/service/core/
/PUSH=*/
.DS_Store
README_DO_NOT_TOUCH_FILES.txt
local_materials/
logs/
/conveyor.iml
/conveyor-service/conveyor-service.iml
/conveyor-persistence/conveyor-persistence-jdbc-derby/derby.log
test-artifacts/
/derby.log
